# ======================
# Python cache
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Env files (SECRETOS)
# ======================
.env
.env.*
!.env.example

# ======================
# Virtual environments
# ======================
.venv/
venv/
env/

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# Temp / local files
# ======================
tmp/
backup.txt
*.csv

# ======================
# OS
# ======================
.DS_Store
Thumbs.db